html,body{
	height: 100vh;
	overflow-y: auto;
}

body{
	background: green;
	margin: auto;

}

.black{
	/*background: rgb(20, 20, 70);*/
	background-color: rgba(50, 50, 50, 0.95);
	width: 50%;
	height: 100%;
	float: left;
	z-index: -1;
	position: fixed;
	left: 0px;
	top: 0px
}

.white{
	background: white;
	width: 50%;
	height: 100%;
	float: left;
	z-index: -1;
	position: fixed;
	display: block;
	left: 50%;
	top: 0px;
}

.container{
	z-index: 0;
	margin: 8%;
	display: block;
}

/*-----------------------------------NAME----------------------*/
.name{
	color: white;
	/*position: absolute;*/
	z-index: 0;
	width: 100%;
	margin: 0 auto;
	/*left: 35.75%;*/
	font-size: 6em;
	text-align: center;
	text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.55)
}

#sirname{
		color: rgba(65, 65, 65, 1);
}
/*-----------------------------------NAME----------------------*/

/*----------------------------------TERMINAL-------------------*/
#terminal{
	/*position: absolute;*/
	z-index: 0;
	height: 400px;
	width: 50%;
	overflow-y: auto;
	/*background-color: rgba(55, 10, 3, 1);*/
	background-color: rgba(60, 60, 60, 0.999);
	/*background: rgb(20, 20, 70, 0.95);*/
	color: rgb(255, 255, 255);
	/*margin-bottom: 0px;
	margin-top: 400px;*/
	margin: 20px auto;
	box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.35);
}


#input{
	border: none;
	/*background-color: rgba(55, 10, 3, 0.1);*/
	background-color: rgba(60, 60, 60, 0.999);
	font-family: monospace;
	width: inherit;
	/*height: inherit;*/
	margin-left: 4.5px;
	padding-left: 0px;
	outline: none;
}

.heading{
	margin-bottom: 0px;
}

#newlyAdded{
	margin: 0px 0px;
	font-family: monospace;
}

.user{
	color: rgb(10, 225, 5);
	font-family: monospace;
	margin: 0px 0px;
}
/*----------------------------------TERMINAL-------------------*/

/*------------------------------------LINKS---------------------*/
.whiteButton{
	color: white;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.55)
}

.blackButton{
	color: rgba(70, 70, 70, 0.999);
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.55)
}

.middleButton{
	color: rgb(10, 225, 5);
	/*color: rgb(120, 120, 120);*/
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.55)	
}
/*------------------------------------LINKS---------------------*/


p{
	text-decoration-color: rgb(2, 255, 255);
	font-family: monospace;
	margin-bottom: 0px;
}

.row:nth-child(3){
	margin-top: 35px;
}

.nopadding{
	padding: 0;
}