html,body{
	height: 100%;
	/*overflow-y: scroll;*/
}

body{
	background: green;
	margin: 0px 0px;
}

.black{
	background: black;
	width: 50%;
	height: inherit;
	float: left;
	z-index: -1;
	position: fixed;
	left: 0px;
	top: 0px
}

.white{
	background: white;
	width: 50%;
	height: inherit;
	float: left;
	z-index: -1;
	position: fixed;
	display: block;
	left: 50%;
	top: 0px;
}

.container{
	z-index: 0;
	/*margin-top: 500px;
	position: absolute;
	margin-top: 0 auto;*/
	margin: 5%;
}

/*.row{
	margin: auto;
}
.col{
	margin: auto;
}*/
.name{
	color: white;
	/*position: absolute;*/
	z-index: 0;
	width: 100%;
	margin: 0 auto;
	/*left: 35.75%;*/
	font-size: 6em;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35)
}


#terminal{
	/*position: absolute;*/
	z-index: 0;
	height: 400px;
	width: 50%;
	/*max-width: 50%;*/
	overflow: scroll;
	/*background-color: rgba(55, 10, 3, 0.95);*/
	background-color: rgba(0, 0, 0, 0.95);
	color: rgb(255, 255, 255);
	/*margin-bottom: 0px;
	margin-top: 400px;*/
	margin: 20px auto;
	box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.35);
}

.whiteButton{
	color: white;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.55)
}

.blackButton{
	color: black;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.55)
}


.heading{
	margin-bottom: 0px;
}

p{
	text-decoration-color: rgb(2, 255, 255);
	font-family: monospace;
	margin-bottom: 0px;
}

#demo{
	margin-bottom: 0px;
}

#input{
	border: none;
	background-color: rgba(55, 10, 3, 0.1);
	font-family: monospace;
	width: inherit;
	/*height: inherit;*/
	margin-left: 4.5px;
	padding-left: 0px;
}

#newlyAdded{
	margin: 0px 0px;
	font-family: monospace;
}

.user{
	color: rgb(10, 225, 5);
	font-family: monospace;
	margin: 0px 0px;
}

.row:nth-child(3){
	margin-top: 35px;
}

.nopadding{
	padding: 0;
}